h3 {
    margin-top: 5vh;
    color: var(--main-style-color);
}

.packages {
    text-align: center;
}

.packagesBlock {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
}

.packagesPage {
    width: 90vw;
    min-height: 20vh;
    margin-bottom: 5vh;
}
.packagesTitle {
    box-sizing: border-box;
    padding: 1vh;
    font-size: 0.8rem;
    color: var(--main-background-color);
    text-transform: uppercase;
    text-indent: 3vh;
    background: var(--main-style-color) url("../../Assets/swish/plus.png") no-repeat left center/contain;
    border-top-right-radius: 20vh;
}

.packagesPage div {
    margin: 1vh 1vh 0 1vh;
    padding: 1vh;
    border: 1px solid black;
    background-color: var(--main-background-color);
}

.invert {
    width: 100%;
    padding: 2vh 0 10vh 0;
    text-align: center;
    color: var(--secondary-type-color);
    background-color: #444444;
}

.galleryOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.galleryOptionsContainer {
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    background-color: #383838;
    box-shadow: 0 5px 20px 2px rgba(255, 53, 65, 0.75);
}

.galleryOptionsContainer p {
    padding: 2vh;
}

.galleryOptionsContainer img {
    width: 80vw;
}

@media (min-device-width:1224px) {

    .packages {
        padding: 2vh 0 10vh 0;
    }

    .packagesBlock {
        flex-direction: row;
    }

    .packagesPage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
    }

    .galleryOptions {
        flex-direction: row;
        align-items: stretch;
        margin: auto;
    }

    .galleryOptionsContainer {
        width: 30vw;
        margin-bottom: 5vh;
        padding-bottom: 2vh;
    }

    .galleryOptionsContainer img {
        width: 17vw;
    }

}
