h3 {
    margin-top: 5vh;
    color: var(--main-style-color);
}

.packages {
    text-align: center;
}

.packagesBlock {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.packagesPage {
    cursor: pointer;
    width: 90vw;
    min-height: 20vh;
    margin-bottom: 5vh;
    background-color: var(--main-style-color);
}

.invert {
    width: 100%;
    padding: 2vh 0 10vh 0;
    text-align: center;
    color: var(--secondary-type-color);
    background-color: #444444;
}

.galleryOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.galleryOptionsContainer {
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    background-color: #383838;
    box-shadow: 0 5px 20px 2px rgba(255, 53, 65, 0.75);
}

.galleryOptionsContainer p {
    padding: 2vh;
}

.galleryOptionsContainer img {
    width: 80vw;
}

@media (min-device-width:1224px) {

    .packages {
        padding: 2vh 0 10vh 0;
    }

    .packagesBlock {
        flex-direction: row;
    }

    .packagesPage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20vw;
    }

    .galleryOptions {
        flex-direction: row;
        align-items: stretch;
        margin: auto;
    }

    .galleryOptionsContainer {
        width: 30vw;
        margin-bottom: 5vh;
        padding-bottom: 2vh;
    }

    .galleryOptionsContainer img {
        width: 17vw;
    }

}
