.exampleContainer {
    display: none;
    z-index: 200;
}

.exampleBase {
    z-index: 201;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: auto;
    background-color: rgba(50,50,50,0.9);
    transition: opacity 0.3s;
}

.exampleWindow {
    z-index: 202;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: opacity 0.6s;
}

.Galleryfit, .Flexi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: var(--secondary-type-color);
    background-color: #222222;
    outline: 20px solid #222222;
}

.Flexi {
    width: 70vw;
}

#gallerySmall {
    width: 60vw;
}
#galleryMedium {
    width: 80vw;
}
#galleryLarge {
    width: 100vw;
}

.galleryContainer {
    margin-top: 5vh;
}

.galleryPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.galleryPage img {
    height: 100%;
    transition: all 0.5s ease;
}

.imageShadow {
    box-shadow: 0 8px 14px -7px rgba(0, 0, 0, 0.75);
}

.flexiCols {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-evenly;
}

.flexiCols img {
    box-shadow: 0 8px 14px -7px rgba(0, 0, 0, 0.75);
}

.sliderContainer {
    display: none;
}

@media (min-device-width:1224px) {

    .sliderContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        margin: auto;
        width: 14vw;
        min-width: 205px;
        max-height: 40vh;
        min-height: 10vh;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 0.6rem;
        background-color: #222222;
        box-shadow: 0 8px 14px -7px rgba(0, 0, 0, 0.75);
    }

    .slider {
        width: 200px;
        height: 3px;
        margin: 20px 0 12px 0;
        background: var(--main-style-color);
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        background: var(--main-background-color);
        border-radius: 100%;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background: var(--main-background-color);
        border-radius: 100%;
        cursor: pointer;
    }

    .widthForm {
        margin-top: 1vh;
    }

    .widthForm label {
        padding-right: 1vh;
    }

    .parentMarker {
        background-color: rgba(60, 176, 255, 0.2);
    }

    .beforeMarker {
        border-left: 5px solid #3cb0ff;
        box-shadow: -20px 0 0 0 #3cb0ff;
    }

    .afterMarker {
        border-right: 5px solid #3cb0ff;
        box-shadow: 20px 0 0 0 #3cb0ff;
    }

    .saveButton {
        display: block;
        padding-top: 1vh;
    }

    .saveButton input {
        cursor: pointer;
        font-family: "Raleway";
        font-weight: 700;
        color: var(--secondary-type-color);
        background-color: var(--main-style-color);
        border: none;
        border-radius: 1vh;
        padding: 1vh 2vh 1vh 2vh;
        box-shadow: 0 8px 14px -7px rgba(0, 0, 0, 0.3);
    }

    .saveButton:hover {
        transform: scale(1.03);
    }

    .saveButton:active {
        transform: scale(1);
    }

}