/* exit, prev, next basic styling */
.portButtons {
    display: none;
    z-index: 500;
    cursor: pointer;
    position: fixed;
    width: 6vh;
    height: 6vh;
    color: var(--secondary-type-color);
    text-align: center;
    background-color: var(--main-style-color);
    border-radius: 100%;
}

.portButtons img {
    width: 100%;
}

.portButtons div {
    width: 100%;
    height: 100%;
    background-color: var(--main-style-color);
    box-shadow: 10px 10px 20px -8px rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    transition: all 0.5s ease;
}

.portButtons:hover div {
    transform: scale(1.1);
}

.portButtons:active div {
    transform: scale(0.9);
}
/* other styling for this button on .caseStudyButton */
.portExit {
    top: 1vh;
    right: 1vh;
    font-size: 3.5vh;
    line-height: 6vh;
}

.portPrevNext {
    top: 1vh;
    margin: auto;
    font-size: 6vh;
    font-weight: 700;
    line-height: 5vh;
}

.portNext {
    left: 8vh;
}

.portPrev {
    left: 1vh;
}

.portOpen {
    display: block;
}

.portClosed {
    display: none;
}

.portView {
    opacity: 1;
}

.prevNextFade {
    opacity: 0;
}

@media (min-width:1224px) {

    .portButtons {
        position: fixed;
    }

    .portNext {
        top: 0; bottom: 0;
    }

    .portNext {
        left: auto;
        right: 1vh;
    }

    .portExit {
        width: 4vh;
        height: 4vh;
        top: 2vh;
        right: 2vh;
        font-size: 3vh;
        line-height: 4vh;
    }

}