.Portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolioBlock {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 40vh;
}

.portfolioPage {
    cursor: pointer;
    width: 90vw;
    margin-bottom: 5vh;
}

.title {
    width: 90vw;
    box-sizing: border-box;
    padding: 1vh;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--main-background-color);
    text-transform: uppercase;
    background-color: var(--main-style-color);
    border-top-right-radius: 20vh;
}

.portfolioBlock img {
    width: 90vw;
    box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.5);
}

/* exit, prev, next basic styling */
.caseStudyButtons {
    z-index: 500;
    cursor: pointer;
    position: absolute;
    width: 6vh;
    height: 6vh;
    color: var(--secondary-type-color);
    text-align: center;
    background-color: #292224;
    box-shadow: 10px 10px 20px -8px rgba(0, 0, 0, 0.8);
    border-radius: 100%;
}

.caseStudyButtons img {
    width: 100%;
}

.caseStudyButtons div {
    width: 100%;
    height: 100%;
    background-color: var(--main-style-color);
    border-radius: 100%;
    transition: all 0.5s ease;
}

.caseStudyButtons:hover div {
    transform: translateX(-8px) translateY(-8px);
    box-shadow:
            2px 2px #292224,
            4px 4px #292224,
            6px 6px #292224,
            8px 8px #292224;
}

.caseStudyButtons:active div {
    transform: translateX(-4px) translateY(-4px);
    box-shadow:
            0 0 #292224,
            1px 1px #292224,
            2px 2px #292224,
            3px 3px #292224,
            4px 4px #292224;
}

.casePrevNext {
    top: 1vh;
    margin: auto;
    font-size: 6vh;
    font-weight: 700;
    line-height: 5vh;
}

.nextCase {
    left: 8vh;
}

.prevCase {
    left: 1vh;
}

/* other styling for this button on .caseStudyButton */
.exitCaseStudy {
    top: 1vh;
    right: 1vh;
    font-size: 3.5vh;
    line-height: 6vh;
}

@media (min-width:1224px) {

    .portfolioBlock {
        flex-direction: row;
    }

    .portfolioPage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 28vw;
        transition: all 0.5s ease;
    }

    .portfolioPage:hover {
        transform: scale(1.05);
    }

    .title {
        width: 28vw;
    }

    .portfolioBlock img {
        width: 28vw;
    }

    .caseStudyButtons {
        position: fixed;
    }

    .casePrevNext {
        top: 0; bottom: 0;
    }

    .nextCase {
        left: auto;
        right: 1vh;
    }

    .exitCaseStudy {
        width: 4vh;
        height: 4vh;
        top: 2vh;
        right: 2vh;
        font-size: 3vh;
        line-height: 4vh;
    }

}