@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Raleway:wght@200;400;700&display=swap");

@font-face {
  font-family: "Elephant";
  src: url("./Assets/ELEPHNT.TTF");
}

@font-face {
  font-family: "Elephant";
  src: url("./Assets/ELEPHNTI.TTF");
  font-style: italic;
}

:root {
  --main-background-color: #fff;
  --main-style-color: #ff3541;
  --primary-type-color: #111;
  --secondary-type-color: #fff;
  font-size: 2vh;
}

body {
  background: var(--main-background-color);
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway";
  overflow-x: hidden;
}

a {
  color: var(--primary-type-color);
  text-decoration: none;
}

.mainText {
  font-family: "Raleway";
  font-size: 1.3rem;
  font-weight: 400;
}

.accentTextOne {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
}

.accentTextTwo {
  font-size: 1.1rem;
  font-family: 'Elephant';
}

.accentTextTwoItalic {
  font-size: 1.1rem;
  font-family: 'Elephant', italic;
}

.allCaps {
  text-transform: uppercase;
  font-size: 1rem;
}

.redText {
  color: #ff3541;
}

ul, li {
  list-style: none;
  margin: auto;
  padding: 0;
}

#nav {
  z-index: 50;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 17vh;
  color: var(--secondary-type-color);
  background-color: var(--main-style-color);
  transform-origin: bottom;
  transition: all .5s linear;
}

#nav a {
  color: var(--secondary-type-color);
  text-decoration: none;
}

.closeNav {
  height: 0;
}

.openNav {
  height: 70vh;
}

#navButton {
  cursor: pointer;
  z-index: 10;
  position: fixed;
  top: 20px;
  right: 20px;
}

#navButton input {
  display: none;
}

#navButton input + span {
  --navbutton-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 3px;
  margin: auto;
  width: var(--navbutton-size);
  height: var(--navbutton-size);
  color: var(--main-background-color);
  text-align: center;
  background-color: var(--main-style-color);
  box-shadow: 0 10px 28px -8px rgba(0, 0, 0, 0.75);
  transition: all .5s ease;
}

#navButton input + span:active {
  transform: scale(0.9);
}

#navButton input + span div {
  width: 40px;
  height: 6px;
  margin: auto;
  background-color: var(--main-background-color);
  text-align: center;
}

#navButton input:checked + span {
  background-color: var(--main-background-color);
  color: var(--main-style-color);
}

#navButton input:checked + span:active {
  transform: scale(0.9);
}

#navButton input:checked + span div {
  background-color: var(--main-style-color);
}

@media (min-device-width:1224px) {

  #nav {
    display: flex;
    justify-content: center;
    position: relative;
    width: 30vw;
    min-width: 500px;
    height: 5vh;
    margin: 5vh auto 5vh auto;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.5);
  }

  #nav div {
    width: 7.5vw;
    min-width: 125px;
    height: 5vh;
    line-height: 5vh;
  }

  #nav div:hover {
    background-color: #ff737a;
    transition: background-color 0.5s;
  }

  #navButton {
    display: none;
  }

}